<h1>Watch out world! coming soon!</h1>

<hr/>

<ul>
  <% @products.each do |product| %>
    <li>
      <strong><%=product.name%></strong> 
    costs $<%=product.price%> dollars
    <%= image_tag(product.image, width: 50)%>
    </li>
  <% end %>
</ul>
<%= @products.count %> products and counting! Check back soon!
<hr/>

